<p style="color: green"><%= notice %></p>

<%= render @song %>

<div>
  <%= link_to "Edit this song", [:edit, @album, @song] %> |
  <%= link_to "Back to album", @album%>

  <%= button_to "Destroy this song", [@album, @song], method: :delete %>
</div>
